<div class="post post-container" data-post-id="{{post.id}}" data-login="{{user_name}}">
    <div class="post-head main-color">
        <a class="post-title" href="/api/posts/{{post.id}}">{{post.title}}</a>
        <p class="post-user">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
    </div>
    <div class="post-content bg-color">
        {{post.content}}
    </div>
</div>
{{#each post.comments as |comment| }}
<div class="comment comment-container">
    <div class="comment-head main-color"></div>
    <div class="comment-body">
        <div class="comment-content">
            {{comment.content}}
        </div>
        <div class="comment-user" data-user="{{comment.user.username}}" >
            —{{comment.user.username}}, {{format_date comment.date_created}}
        </div>
    </div>
    <div class="update-comment-container">
        <button class="update-comment-btn"><a href="/api/comments/{{comment.id}}">Update</a> </button>
    </div>
    <div class="delete-comment-container">
        <button class="delete-comment-btn" data-comment-id="{{comment.id}}">Delete</button>
    </div>
</div>
{{/each}}
<div class="comment-btn-container">
    <button class="add-comment-btn"><a class="comment-btn-anchor" href="/api/posts/{{post.id}}">Add Comment</a></button>
</div>

<script src="/js/postDetails.js"></script>

